# Python : List Manupulation

### 1. List Indexing and Slicing

In [1]:
months = ['Janauary', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

print(months)

['Janauary', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [2]:
print(len(months))

12

In [3]:
print(months[4])

May

In [4]:
print(months[1:5])

['February', 'March', 'April', 'May']

In [5]:
print(months[:4])

['Janauary', 'February', 'March', 'April']

In [6]:
print(months[4:])

['May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [7]:
print(months[-1])

December

In [8]:
print(months[5:-1])

['June', 'July', 'August', 'September', 'October', 'November']

In [9]:
print(" I am a " + months[2].lower() + " born")

 I am a march born

#### a. Changing Values in a List with Indexes

In [10]:
anim = ['cat', 'bat', 'rat', 'elephant']

anim[1] = 'dog'

print(anim)

['cat', 'dog', 'rat', 'elephant']

In [11]:
anim[3] = anim[1]

print(anim)

['cat', 'dog', 'rat', 'dog']

#### b. List containing other lists

In [12]:
spam = [['cat', 'bat'], [10, 20, 30, 40, 50]]

In [13]:
print(spam[0])

['cat', 'bat']

In [14]:
print(spam[0][1])

bat

In [15]:
print(spam[1][4])

50

In [16]:
print(spam[1][:2])

[10, 20]

### 2. List Sorting

In [17]:
colours = ['red', 'green', 'yellow', 'orange', 'voilet', 'black', 'white', 'blue', 'indigo', 'brown', 'purple']

temperature = [34, 26.8, 39, 48, 44, 18, 23, 36.8, 47]

months = ['Janauary', 'February', 'March', 'April', 'May', 'June', 'July', 
          'August', 'September', 'October', 'November', 'December']

### ``sort()``

In [18]:
# Sorting list permanently using sort()

colours.sort()
print(colours)

['black', 'blue', 'brown', 'green', 'indigo', 'orange', 'purple', 'red', 'voilet', 'white', 'yellow']

In [19]:
temperature.sort()
print(temperature)

[18, 23, 26.8, 34, 36.8, 39, 44, 47, 48]

In [22]:
# Sort list in reverse

colours.sort(reverse=True)
print(colours)

['yellow', 'white', 'voilet', 'red', 'purple', 'orange', 'indigo', 'green', 'brown', 'blue', 'black']

### ``reverse()``

In [23]:
# Reverse order of data in list

months.reverse()
print(months)

['December', 'November', 'October', 'September', 'August', 'July', 'June', 'May', 'April', 'March', 'February', 'Janauary']

### 3. Working with the elements to the list

#### a. Adding the elements at the end of the list

In [24]:
cars = ["Honda", "Mercedes", "BMW", "Maruthi", "Volvo"]

cars.append("benz")

print(cars)

['Honda', 'Maruthi', 'Volvo', 'benz']

In [25]:
# Creating a list of square no of 1 to 10
squr = []
for value in range(1,11): 
    squr.append(value**3)
print(squr)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### b. Inserting the elements to the list

In [26]:
cars = ["Honda", "Maruthi", "Volvo"]

cars.insert(2, "Mahindra")

print(cars)

['Honda', 'Maruthi', 'Mahindra', 'Volvo']

#### c. Removing the elements from the list  ``del()``

In [27]:
cars = ["Honda", "Maruthi", "Volvo", "pagani", "Tata"]

del cars[:2]

print(cars)

['Volvo', 'pagani', 'Tata']

#### d. Removing the elements from the list  ``pop()``

In [28]:
cars = ["Honda", "Maruthi", "Volvo", "pagani", "Tata"]

luxury_car = cars.pop(3)

print(cars)

print(luxury_car)

['Honda', 'Maruthi', 'Volvo', 'Tata']
pagani

#### e. Removing an Item by Value ``remove()``

In [31]:
cars = ["Honda", "Maruthi", "Volvo", "pagani", "Tata"]

cars.remove("pagani")

print(cars)

['Honda', 'Maruthi', 'Volvo', 'Tata']


#### f. Using ``range()``  function to create array

In [32]:
# Using range() to creat list
numbers = (list(range(0,21)))
print(numbers)

even_numbers = (list(range(2,21,3)))
print(even_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 5, 8, 11, 14, 17, 20]

### 4. Simple statistics with list

In [33]:
temperature = [34, 26.8, 39, 48, 44, 18, 23, 36.8, 28, 16, 12, 17]

print(min(temperature))
print(max(temperature))
print(sum(temperature))

12
48
342.6